<configuration>
    <jmxConfigurator />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%date [%thread] %-5level %logger{25} - %msg%n</Pattern>
        </layout>
    </appender>

    <root level="info">
        <appender-ref ref="console" />
    </root>

    <logger name="com.bornconfused.zookeeperDistributedLock.lock.ZookeeperDistributedLock" level="DEBUG">
        <appender-ref ref="console"/>
    </logger>
</configuration>